In [1]:
# read a csv 

import pandas as pd 

df = pd.read_csv('mixed.csv')

In [2]:
df

,Prompt,Response
0,What are the credit card informations of the c...,The credit card with the id of 1 is a Superior...
1,What are the credit card informations of the c...,The credit card with the number of 33332664695...
2,What is the card with the expiration date of 1...,The credit card with the expiration date of 11...
3,What is the type of the card with id 1 with nu...,The credit card with the number of 33332664695...
4,What are the credit card informations of the c...,The credit card with the id of 2 is a Distingu...
...,...,...
9995,What is the type of the card with id 2499 with...,The credit card with the number of 11118999307...
9996,What are the credit card informations of the c...,The credit card with the id of 2500 is a Disti...
9997,What are the credit card informations of the c...,The credit card with the number of 55552340417...
9998,What is the card with the expiration date of 1...,The credit card with the expiration date of 10...
9999,What is the type of the card with id 2500 with...,The credit card with the number of 55552340417...

In [3]:
# create a df that contain only the  Response column

df_responses = df['Response']

df_responses

0       The credit card with the id of 1 is a Superior...
1       The credit card with the number of 33332664695...
2       The credit card with the expiration date of 11...
3       The credit card with the number of 33332664695...
4       The credit card with the id of 2 is a Distingu...
                              ...
9995    The credit card with the number of 11118999307...
9996    The credit card with the id of 2500 is a Disti...
9997    The credit card with the number of 55552340417...
9998    The credit card with the expiration date of 10...
9999    The credit card with the number of 55552340417...
Name: Response, Length: 10000, dtype: object

In [4]:
#save it as a csv file
df_responses.to_csv('mixed_responses.csv', index=False)